*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    background-color: rgba(159, 224, 224, 0.563);
    height: 100vh;
    flex-direction: column;
}
#loginbox{
    display: flex;
    /* align-items: center; */
    margin: auto;
    padding: 20px 10px;
    border-radius: 20px;
    /* box-shadow: 2px 3px 10px gray; */
    margin-top: 50px;
    height: 400px;
    background-color: white;
    flex-direction: column;
    width: 350px;
    gap: 20px;
    
}
#loginbox h1{
    color:purple;
    justify-content: center;
}
#email{
    display: flex;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    border: none;
    padding: 10px;
    background-color: rgb(230, 224, 225);
}
#password{
    display: flex;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    border: none;
    padding: 10px;
     background-color: rgb(230, 224, 225);
}
.submit{
    display: flex;
    border-radius: 10px;
    height: 30px;
    width: 100%;
    background-color:purple;
    color: white;
    border: none;
}
.Remember{
    display: flex;
    justify-content: space-between;
    margin: 20px;
}
.signup{
    display: flex;
    justify-content: center;
    margin: 20px;
}
